{% extends 'home/base.html ' %}

{% block content %}
      <div class="blue_bg">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>About</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section -->
      <div class="about">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <div class="about_text">
                     <h3>We are verdict</h3>
                     <p>Verdict was created  with a vision to create an independent currency of trust. We're a digital platform that hosts consumers experiences written as reviews. We're free to use, open to everybody, and built on transparency.Trust us and believe us</p>
                     <a class="read_more" href="#">Read More</a>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="about_img">
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
            {% endblock content %}

